.word {
  display: inline-block;
  font-size: large;
}

#main {
  display: flex;
}

#count-section {
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
}

footer {
  font-size: small;
}